/* General */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.links {
  color: #2e2f42;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1158px;
  }
}
body {
  background-color: white;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
/* General */

/* Header */
.header_h {
  padding: 17px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.info {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.info li a:hover {
  color: #404bbf;
}
.info li a:active {
  color: #404bbf;
}
.address-links {
  color: #434455;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}
.logo-header {
}
.nav-links {
  display: none;
}

.open-menu-bt {
  line-height: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header_h {
    padding: 0;
  }
  .nav-links {
    gap: 24px;
    display: flex;
  }
  .address {
    align-self: center;
    display: block;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .open-menu-bt {
    display: none;
  }
  .nav-links .links {
    position: relative;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-links li:first-child .links {
    color: #404bbf;
  }

  .nav-links li:first-child .links:after {
    content: '';
    display: block;
    border-bottom: 4px solid #404bbf;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #404bbf;
  }
  .links:active {
    color: #404bbf;
  }
  .address-links {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02cm;
    display: flex;
    list-style: none;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .info {
    flex-direction: row;
    gap: 40px;
  }
  .address-links {
    font-size: 16px;
  }
}
/* Header */

/* Main */
/* 1ST section */

.first-section .container {
  text-align: center;
}
.first-section {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  max-width: 1440px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
@media (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office@2x.png');
  }
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
  text-transform: capitalize;
}
.ordering {
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: 0px auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering:hover {
  background-color: #404bbf;
}
.ordering:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .first-section {
    padding-top: 116px;
    padding-bottom: 108px;
    background-size: cover;
  }
  h1 {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
    text-transform: none;
  }
  .ordering {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
    background-size: cover;
  }
  .ordering {
    margin-top: 48px;
  }
}
/* 1ST section */

/* 2ND section */
.second_section {
  padding: 96px 0;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
}

.head {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-transform: capitalize;
  text-align: center;
}
.cards .head {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.features-box {
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: none;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .features {
    column-gap: 24px;
    row-gap: 72px;
  }
  .head {
    text-align: unset;
  }
  .li_features {
    flex-basis: calc((100% - 24px) / 2);
  }
  @media screen and (min-width: 1158px) {
    .second_section {
      padding: 120px 0;
    }
    .head {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
    }
    .paragrafs {
      font-weight: 400;
      font-size: 16px;
    }
    .features {
    }
    .features-box {
      display: flex;
    }

    .li_features {
      flex-basis: calc((100% - 3 * 24px) / 4);
    }
  }
}

/* 2ND section */

/* 3D section */
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.head_head {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-pics {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
}
.cards {
  padding: 32px 0;
}
.cards .head {
  text-align: center;
  margin-bottom: 8px;
}
.cards .paragrafs {
  padding-bottom: 8px;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.social-list-obj {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team {
    padding: 96px 0;
  }
  .cards .head {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
  .cards .paragrafs {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 8px;
  }
  .team-people {
    column-gap: 24px;
    row-gap: 72px;
  }
  .team-pics {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-pics {
    width: calc((100% - 72px) / 4);
  }
}
/* 3D section */

/* 4TH section */
.fourth_section {
  padding: 96px 0;
}
.fourth_section .head_head {
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.portfolio-pics {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.side-pics {
  position: relative;
  overflow: hidden;
}

.portfolio-pics:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.apps .head {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: unset;
  margin-bottom: 8px;
}
.apps .paragrafs {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.overlay-par {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pics:hover .overlay-par {
  transform: translateY(0%);
  color: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .portfolio {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
  .portfolio-pics {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    row-gap: 48px;
  }

  .portfolio-pics {
    width: calc((100% - 48px) / 3);
  }
}
/* 4TH section */
.logo:hover,
.links:hover,
.address-links:hover {
  color: #404bbf;
}
.logo:focus,
.links:focus,
.address-links:focus {
  color: #404bbf;
}
.logo:active,
.address-links:active {
  color: #404bbf;
}

.title {
  color: white;
  font-weight: 700;
}

.features p,
.team-people p,
.portfolio p {
  font-size: 16px;
  font-weight: 400;

  line-height: 150%;
  letter-spacing: 0.02em;
}
.paragrafs {
  font-size: 16px;
  font-weight: 500;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.webstudio_bot {
  color: #f4f4fd;
}
.webstudio_top {
  color: #2e2f42;
}

/* Main */
/* Footer */
.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}
.footer-class .logo {
  display: inline-block;
}
.footer-par {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer {
  justify-self: center;
  align-self: center;
}

.footer-right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 72px 0;
  width: 208px;
  height: 80px;
}
.footer-right-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-list-obj-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.social-icon-footer {
  fill: #f4f4fd;
}

.logo-text {
  display: flex;
  flex-direction: column;
  max-width: 288px;
}
.footer-form-container {
  max-width: 288;
  display: flex;
  flex-direction: column;
}
.footer-subscribe-form {
  flex-direction: column;
  gap: 24px;
  display: flex;
}
.footer-form-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  align-self: center;
}
.input-email-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  opacity: 0.3;
}
.input-email-footer::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.button-subscribe {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-subscribe {
  margin-left: 16px;
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}
.footer-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .button-subscribe {
    align-self: baseline;
  }
  .footer-wraper {
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 584px;
  }
  .logo-footer {
    align-self: flex-start;
  }

  .logo-text {
    min-width: 264;
  }
  .footer-right-box {
    margin: 0;
    display: inline-flex;
  }
  .social-par {
    align-self: flex-start;
  }

  .footer-form-title {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-class {
    padding: 100px 0;
  }
  .footer-wraper {
    max-width: fit-content;
    gap: 0px;
  }
  .logo-text {
    margin-right: 120px;
  }
  .footer-right-box {
    margin-right: 80px;
  }
}
/** Footer */

/** MODAL **/
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  padding: 72px 16px 24px 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  width: calc(100% - 32px);
  background-color: #fcfcfc;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.call-back-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 23px;
}
.container-form {
  margin-bottom: 8px;
}
.label-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}
.container-input {
  margin-bottom: 8px;
}
.container-human {
  position: relative;
}
.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus {
  border-color: #4d5ae5;
}

.icon-human {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus + .icon-human {
  fill: #4d5ae5;
}
.label-phone {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}
.container-phone {
  position: relative;
}
.input-telephone {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-phone {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-telephone:focus {
  border-color: #4d5ae5;
}
.input-telephone:focus + .icon-phone {
  fill: #4d5ae5;
}
.label-email {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}
.container-mail {
  position: relative;
}
.input-email {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-email:focus {
  border-color: #4d5ae5;
}
.input-email:focus + .icon-mail {
  fill: #4d5ae5;
}
.container-text-area {
  margin-bottom: 16px;
}
.label-text-area {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}
.comment {
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus {
  border-color: #4d5ae5;
}
.comment::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.container-checkbox {
  margin-bottom: 24px;
}
.checkbox-privacy {
}
.label-privacy {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.span-privacy-label {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.span-privacy-label svg use {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-privacy:checked + .label-privacy .span-privacy-label {
  background-color: #404bbf;
  border: none;
}

.checkbox-privacy:checked + .label-privacy .span-privacy-label {
  fill: #f4f4fd;
}
.privacy-policy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.send {
  display: block;
  cursor: pointer;
  border-radius: 4px;

  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send:hover,
.send:active {
  background-color: #404bbf;
}
/** MODAL **/

/** MENU **/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px 16px;
  opacity: 0;
  pointer-events: none;
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-button-menu {
  background-color: #e7e9fc;
}
.menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.navigation-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.nav-links-menu {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.nav-links-menu li:first-child .links-menu {
  color: #404bbf;
}
.links-menu:active {
  color: #404bbf;
}
.links-menu:hover {
  color: #404bbf;
}
.links-menu:focus {
  color: #404bbf;
}
.nav-links-menu .links-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-menu {
  color: #2e2f42;
}
.info-menu {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  gap: 24px;
  margin-bottom: 48px;
}
.address-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.social-list-menu {
  justify-content: space-between;
}
