/* General */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.links {
  color: #2e2f42;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}
body {
  background-color: white;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
/* General */

/* Header */
.header_h {
  border-bottom: 1px solid #e7e9fc;
}
header .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1158px;
  padding: 0 15px;

  margin: 0 auto;
}
.nav-links {
  gap: 40px;
  display: flex;
  list-style: none;
}

.address-links {
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-self: center;
}

.info li a:hover {
  color: #404bbf;
}
.info li a:active {
  color: #404bbf;
}
.address-links {
  color: #434455;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
}
.nav-links .links {
  padding: 24px 0;
}
/* Header */

/* Main */
/* 1ST section */
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  max-width: 496px;
}
.ordering {
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
}
.ordering:hover {
  background-color: #404bbf;
}
.ordering:focus {
  background-color: #404bbf;
}
/* 1ST section */

/* 2ND section */
.second_section {
  padding: 120px 0;
}

.features {
  display: flex;
  gap: 24px;
}
.li_features {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.head {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* 2ND section */

/* 3D section */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.head_head {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-people {
  display: flex;
  gap: 24px;
}
.team-pics {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.cards {
  padding: 32px 0;
}
.cards .head {
  text-align: center;
  margin-bottom: 8px;
}
.cards .paragrafs {
  text-align: center;
}
/* 3D section */

/* 4TH section */
.fourth_section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth_section .head_head {
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.apps .head {
  margin-bottom: 8px;
}
/* 4TH section */
.logo:hover,
.links:hover,
.address-links:hover {
  color: #404bbf;
}
.logo:focus,
.links:focus,
.address-links:focus {
  color: #404bbf;
}
.logo:active,
.links:active,
.address-links:active {
  color: #404bbf;
}

.title {
  color: white;
  font-weight: 700;
}

.features p,
.team-people p,
.portfolio p {
  font-size: 16px;
  font-weight: 400;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.paragrafs {
  font-size: 16px;
  font-weight: 400;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.webstudio_bot {
  color: #f4f4fd;
}
.webstudio_top {
  color: #2e2f42;
}

/* Main */
/* Footer */
.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  display: flex;
  align-items: center;
}
.footer-class .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* Footer */
.portfolio-pics {
  width: calc((100% - 48px) / 3);
}
