/* General */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.links {
  color: #2e2f42;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  background-color: white;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
/* General */

/* Header */
.header_h {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
header .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1158px;
  padding: 0 15px;

  margin: 0 auto;
}
.nav-links {
  gap: 40px;
  display: flex;
  list-style: none;
}

.address-links {
  display: flex;
  list-style: none;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-self: center;
}

.info li a:hover {
  color: #404bbf;
}
.info li a:active {
  color: #404bbf;
}
.address-links {
  color: #434455;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header {
  margin-right: 76px;
}
.nav-links .links {
  padding: 24px 0;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links li:first-child .links {
  color: #404bbf;
}

.nav-links li:first-child .links:after {
  content: '';
  display: block;
  border-bottom: 4px solid #404bbf;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #404bbf;
}
.links:active {
  color: #404bbf;
}
/* Header */

/* Main */
/* 1ST section */
.first-section .container {
  text-align: center;
}
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('/images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  max-width: 1440px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: white;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}
.ordering {
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: 20px auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ordering:hover {
  background-color: #404bbf;
}
.ordering:focus {
  background-color: #404bbf;
}
/* 1ST section */

/* 2ND section */
.second_section {
  padding: 120px 0;
}

.features {
  display: flex;
  gap: 24px;
}
.li_features {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.head {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-box {
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 2ND section */

/* 3D section */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.head_head {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-people {
  display: flex;
  gap: 24px;
}
.team-pics {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.cards {
  padding: 32px 0;
}
.cards .head {
  text-align: center;
  margin-bottom: 8px;
}
.cards .paragrafs {
  text-align: center;
}
.social-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.social-list-obj {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}
/* 3D section */

/* 4TH section */
.fourth_section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth_section .head_head {
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-pics {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.side-pics {
  position: relative;
  overflow: hidden;
}

.portfolio-pics:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.apps .head {
  margin-bottom: 8px;
}

.overlay-par {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pics:hover .overlay-par {
  transform: translateY(0%);
  color: #f4f4fd;
}
/* 4TH section */
.logo:hover,
.links:hover,
.address-links:hover {
  color: #404bbf;
}
.logo:focus,
.links:focus,
.address-links:focus {
  color: #404bbf;
}
.logo:active,
.address-links:active {
  color: #404bbf;
}

.title {
  color: white;
  font-weight: 700;
}

.features p,
.team-people p,
.portfolio p {
  font-size: 16px;
  font-weight: 400;

  line-height: 150%;
  letter-spacing: 0.02em;
}
.paragrafs {
  font-size: 16px;
  font-weight: 400;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.webstudio_bot {
  color: #f4f4fd;
}
.webstudio_top {
  color: #2e2f42;
}

/* Main */
/* Footer */
.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  display: flex;
  align-items: center;
}
.footer-class .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-footer {
  margin-bottom: 16px;
}
.footer-class .container {
  display: flex;
  align-items: baseline;
}
.footer-right-box {
  width: 208px;
  height: 80px;
}
.footer-right-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-list-obj-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.social-icon-footer {
  fill: #f4f4fd;
}
.logo-text {
  margin-right: 120px;
}
.footer-form-container {
  padding-left: 80px;
}
.footer-subscribe-form {
  gap: 24px;
  display: flex;
}
.footer-form-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.input-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.input-email::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.button-subscribe {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-subscribe {
  margin-left: 16px;
}
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}
/** Footer */

/** MODAL **/
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form {
  position: relative;
  border-radius: 4px;
  width: 408px;
  height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  display: flex;
}
.head-label {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
/** MODAL **/
